@{
    ViewBag.Title = "Visitas hospitales";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@(Html.Kendo().Grid<MedinetWeb.Models.SP_MW_VisHospitalPorReg_Result>()
        // Grid Name
    .Name("Grid")

    // Declare grid column
    .Columns(columns =>
                 {
                     columns.ForeignKey(p => p.ID_Region, (System.Collections.IEnumerable)ViewData["dvRegiones"], "ID", "TX")
                         .Title("Región")
                         .Width(40);
                     columns.Bound(r => r.Fichados).Title("Fichados")
                         .HtmlAttributes(new { style = "text-align:right" })
                         .Format("{0:n0}")
                         .Width(40);
                     columns.Bound(r => r.Visitados).Title("Visitados")
                         .HtmlAttributes(new { style = "text-align:right" })
                         .Format("{0:n0}")
                         .Width(40);
                 })

    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
        <div class="toolbar">
            <label class="ciclo-label" for="ciclo">Ciclo:</label>
            @(Html.Kendo().DropDownList()
                                    .Name("ddCiclos")
                                    .OptionLabel("Select")
                                    .DataTextField("TX")
                                    .DataValueField("ID")
                                    .AutoBind(false)
                                    .Events(e => e.Change("ciclosChange"))
                                    .DataSource(ds =>
                                    {
                                        ds.Read("GetCiclosConData", "Ciclos");
                                    })
                                )
        </div>
        </text>);
    })

    // Declare ajax datasource.
        // CRUD operation are wired back to ASP MVC Controller/Action e.g. HomeController, GetAll
        // Set the model Id
    .DataSource(datasoure => datasoure.Ajax()
                                .Events(events => events.Error("GridError"))

                                .Read(read => read.Action("GetAllReg", "VisitasHospitales").Data("paramConsulta"))
    )

    // Set grid sortable.
    .Sortable(sortable => sortable
    .AllowUnsort(true)
    .SortMode(GridSortMode.MultipleColumn))

    // Set grid selectable.
    .Selectable()
    
    // Llama al detalle
    .ClientDetailTemplateId("templateRegLin")
)

<script>
    function ciclosChange() {
        $("#Grid").data("kendoGrid").dataSource.read();
    }

    function paramConsulta() {
        return {
            cicloID: $("#ddCiclos").val() != "" ? $("#ddCiclos").val() : 0
        }
    }
</script>

<script id="templateRegLin" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MedinetWeb.Models.SP_MW_VisHospitalPorRegLin_Result>()
            .Name("Grid_#=ID_Region#")
            .Columns(columns =>
            {
                    columns.ForeignKey(p => p.ID_Linea, (System.Collections.IEnumerable)ViewData["dvLineas"], "ID", "TX")
                        .Title("Línea")
                        .Width(40);
                    columns.Bound(r => r.Fichados).Title("Fichados")
                        .HtmlAttributes(new { style = "text-align:right" })
                        .Format("{0:n0}")
                        .Width(40);
                    columns.Bound(r => r.Visitados).Title("Visitados")
                        .HtmlAttributes(new { style = "text-align:right" })
                        .Format("{0:n0}")
                        .Width(40);
            })
                        
            // Llama al detalle
            .ClientDetailTemplateId("templateRegLinVis")

            .DataSource(dataSource => dataSource
                .Ajax()
                //.PageSize(10)
                .Read(read => read.Action("GetAllRegLin", "VisitasHospitales", 
                    new { cicloID = "#=ID_Ciclo#", regionID = "#=ID_Region#"}))
            )
            //.Pageable()
            
            // Set grid selectable.
            .Selectable()
            
            // Set grid sortable.
            .Sortable(sortable => sortable
            .AllowUnsort(true)
            .SortMode(GridSortMode.MultipleColumn))
            
            .ToClientTemplate()
    )
</script>

<script id="templateRegLinVis" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MedinetWeb.Models.SP_MW_VisHospitalPorRegLinVis_Result>()
            .Name("Grid_#=ID_Region#_#=ID_Linea#")
            .Columns(columns =>
            {
                columns.ForeignKey(p => p.ID_Usuario, (System.Collections.IEnumerable)ViewData["dvVisitadores"], "ID", "TX")
                        .Title("Visitador")
                        .Width(60); 
                    columns.Bound(r => r.Fichados).Title("Fichados")
                        .HtmlAttributes(new { style = "text-align:right" })
                        .Format("{0:n0}")
                        .Width(40);
                    columns.Bound(r => r.Visitados).Title("Visitados")
                        .HtmlAttributes(new { style = "text-align:right" })
                        .Format("{0:n0}")
                        .Width(40);
            })

            // Llama al detalle
            .ClientDetailTemplateId("templateRegLinVisHos")

            .DataSource(dataSource => dataSource
                .Ajax()
                //.PageSize(10)
                .Read(read => read.Action("GetAllRegLinVis", "VisitasHospitales", 
                    new { cicloID = "#=ID_Ciclo#", regionID = "#=ID_Region#", lineaID = "#=ID_Linea#" }))
            )
            //.Pageable()
            
            // Set grid selectable.
            .Selectable()
            
            // Set grid sortable.
            .Sortable(sortable => sortable
            .AllowUnsort(true)
            .SortMode(GridSortMode.MultipleColumn))
            
            .ToClientTemplate()
    )
</script>

<script id="templateRegLinVisHos" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MedinetWeb.Models.SP_MW_VisHospitalPorRegLinVisHos_Result>()
            .Name("Grid_#=ID_Region#_#=ID_Linea#_#=ID_Usuario#")
            .Columns(columns =>
            {
                    columns.Bound(r => r.Hospital).Title("Hospital")
                        .Width(40);
                    columns.Bound(r => r.Visitados).Title("Visitados")
                        .HtmlAttributes(new { style = "text-align:right" })
                        .Format("{0:n0}")
                        .Width(40);
            })

            .DataSource(dataSource => dataSource
                .Ajax()
                //.PageSize(10)
                .Read(read => read.Action("GetAllRegLinVisHos", "VisitasHospitales", 
                    new { cicloID = "#=ID_Ciclo#", regionID = "#=ID_Region#", lineaID = "#=ID_Linea#", visitadorID = "#=ID_Usuario#" }))
            )
            //.Pageable()
            
            // Set grid selectable.
            .Selectable()
            
            // Set grid sortable.
            .Sortable(sortable => sortable
            .AllowUnsort(true)
            .SortMode(GridSortMode.MultipleColumn))
            
            .ToClientTemplate()
    )
</script>


<script>

    //function dataBound() {
    //    this.expandRow(this.tbody.find("tr.k-master-row").first());
    //}
</script>

<style scoped="scoped">
    /*#Grid .k-toolbar {
        min-height: 27px;
        padding: 1.3em;
    }*/

    .ciclo-label {
        vertical-align: middle;
        padding-right: .5em;
    }

    #ciclo {
        vertical-align: middle;
    }

    .toolbar {
        float: right;
    }

    label {
        display: inline-block;
        vertical-align: middle;
    }

    .k-grid .k-hierarchy-col {
      width: 5px;
    }
</style>
